*{
    padding: 0px;
    margin: 0px;
}

body{
    border: 1px solid purple;
}

/* .motu{
    border: 1px solid red;
} */


.card{
    width: 22%;
    border: 1px solid black;
}


.product-img{
    border: 2px solid blue;
}

.product-img > img {
    width: 100%;
}