*{
    padding: 0px;
    margin: 0px;
}

.homepage-container{
    width: 90%;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
}

.nav-items{
    display: flex;
    gap: 10px;
    padding: 0px 10px;
}


.hero-logo{
    width: 60px;
}

.hero-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero-logo > img{
    width: 100%;
    border-radius: 50%;
}

.hero-content{
    width: 70%;
   
}

.hero-content > h1 {
    font-size: 50px;
    margin-bottom: 20px;
}