body {
    background-color: gray;
  }

  .navbar {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .logo {
    /* border: 2px solid purple; */
    width: 150px;
  }

  .nav-items {
    /* border: 2px solid yellow; */
    display: flex;
    gap: 10px;
    color: white;
  }

  .cta-btn {
    /* border: 2px solid orange; */
  }

  .member-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 35px;
  }